<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   example

   Created by Alper Tekin on 11.06.2024.
   Copyright (c) 2024 Refiner. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
